.menus {
  margin: 50px 0;
}
.menus .container {
  display: flex;
  gap: 20px;
}

.offers {
  width: 70%;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offer > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 120px;
  padding: 15px;
  flex-shrink: 0;
  width: calc(50% - 20px);
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.menu-image {
  height: 100%;
  flex: 1;
  border: solid 1px #00ccbc;
}

.menu div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-self: self-start;
}

.description {
  flex: 1;
  overflow: hidden;
}

.menu div:first-child p {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.menu img {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
.menu-button {
  flex: 1;
  height: 100%;
}

.menu-button button {
  height: 100%;
  border-radius: 0px;
  font-size: 1.5em;
  color: #00ccbc;
}
